@model WebAppPortefolio.Models.Utilizador

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header bg-light">
        Account Settings
    </div>
    <form action="/Account/Profile" method="post" id="formChangeProfile">
        <div class="card-body">
            <div class="row mb-5">
                <div class="col-md-4 mb-4">
                    <div>Profile Information</div>
                    <div class="text-muted small">These information are visible to the public.</div>
                </div>
                
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label">Name</label>
                                <input class="form-control" name="Nome" id="Nome" value="@Model.Nome">
                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>
            <hr>
            <div class="row mt-5">
                <div class="col-md-4 mb-4">
                    <div>Access Credentials</div>
                    <div class="text-muted small">Leave credentials fields empty if you don't wish to change the password.</div>
                </div>
                <div class="col-md-8">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label">Username</label>
                                <input class="form-control" name="Username" id="Username" value="@Model.Username">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label">Email Address</label>
                                <input class="form-control" name="Email" id="Email" value="@Model.Email">
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label">Password</label>
                                <input type="password" class="form-control" name="Passwordd" id="Passwordd">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label">Password Confirmation</label>
                                <input type="password" class="form-control" name="passw2" id="passw2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer bg-light text-right">
            <button type="button" class="btn btn-primary" onclick="VerificarPP()" >Save Changes</button>
        </div>
    </form>
</div>

<script>
        //Verificar email
        function ValidateEmail(inputText) {
            var mailformat = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,6})+$/;

            if (inputText.value.match(mailformat)) {
                return true;
            }
            else {
                alert("You have entered an invalid email address!");
                return false;
            }
        }

        //Verifica se as passs são iguais
        function checkPasss() {

            //Store the password field objects into variables ...
            var pass1 = document.getElementById('Passwordd');
            var pass2 = document.getElementById('passw2');


            if (pass1.value.length < 1)
                return true;

            if (pass1.value == pass2.value) {
                if (pass1.value.length > 7)
                {
                    alert("Your Password Must Be at Least 8 Characters ");
                    return true;
                }                    
                else
                    return false;
            }
            else { 
                alert("Passwords doesn´t match");
                return false;
            }

        }

        //Só deixa submeter o form se as passs forem iguais
        function VerificarPP() {
            var _nome = document.getElementById('Nome');
            var _usern = document.getElementById('Username');
            var _email = document.getElementById('Email');
            var pass1 = document.getElementById('Passwordd');
            var pass2 = document.getElementById('passw2');

            if (ValidateEmail(_email) && _nome.value.length > 0 && _usern.value.length > 0 && _email.value.length > 0 && checkPasss())
            {
                document.getElementById("formChangeProfile").submit();
            }

        }
</script>
