body {
    background-image: url('/Imagens/OperaSpeaker.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.dgdgdgdsseg {
    background-image: url('/Imagens/fundoescura.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border: none;
    border-style: none;
}
